<a href="https://colab.research.google.com/github/adityavighne/Python-Basics/blob/main/All_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print ("Hello!")

Hello!

Operators

In [ ]:
2+3

5

In [ ]:
2/3

0.6666666666666666

In [ ]:
2//3

0

In [ ]:
2%3

2

In [ ]:
'2'+'aditya'

'2aditya'

Variable

In [ ]:
i=3
j=i
j=5
print (j)

5

Variable Assignment

In [ ]:
A = 5
print (A)

5

In [ ]:
a = 7
b = a
a =3
print (a)
print (b)

3
7

In [ ]:
type (a)

int

Conditional statements

In [ ]:
x=4
if (x%2==0):
  print("Even")
else: 
  print("odd")

Even

In [ ]:
y=90
if (y>90):
  print("Grade A")
elif(y>60 and y<=90):
    print("Grade B")
else:
      print("Grade C")

Grade B

In [ ]:
if 5>10:
  print("F")
elif 8 != 9:
  print("G")
else:
  print("C")

G

Loops

In [ ]:
for i in range(5):
  print("Hi!")

Hi!
Hi!
Hi!
Hi!
Hi!

In [ ]:
for i in range(11,20):
  print(i)

11
12
13
14
15
16
17
18
19

In [ ]:
for i in range(11,15,3):
  print(i)

11
14

Functions

In [ ]:
def area_radius(radius):
  area = 3.14*3*3
  return area

In [ ]:
def compare(a,b):
  if(a>b):
    greate =a
  else:
    greate = b
  return greate

In [ ]:
compare(10,20)

20

In [ ]:
area_radius(5)

28.259999999999998

Lists

In [ ]:
list1 = [1,"hi",2,"hello"]
list1

[1, 'hi', 2, 'hello']

In [ ]:
list1[2]

2

In [ ]:
list1.append("no")
list1

[1, 'hi', 2, 'hello', 'no', 'no']

In [ ]:
del list1[4]
list1

[1, 'hi', 2, 'hello', 'no']

In [ ]:
list1.extend([5,10])
list1

[1, 'hi', 2, 'hello', 'no', 5, 8, 5, 10]

In [ ]:
list1.append([2,3,4])
list1

[1, 'hi', 2, 'hello', 'no', 5, 8, 5, 10, [2, 3, 4]]

In [ ]:
list1[-1]

[2, 3, 4]

In [ ]:
for i in list1:
  print(i)

1
hi
2
hello
no
5
8
5
10
[2, 3, 4]

Dictionaries

In [ ]:
dict1 = {'aditya',10,'vighne',20}
dict1

{10, 20, 'aditya', 'vighne'}

In [ ]:
dict1 = {'aditya':10,'vighne':20}
dict1

{'aditya': 10, 'vighne': 20}

In [ ]:
dict1['neil']=[30]
dict1

{'aditya': 10, 'neil': [30], 'vighne': 20}

In [ ]:
del dict1['neil']
dict1

{'aditya': 10, 'vighne': 20}

In [ ]:
dict2={}
dict2

{}

In [ ]:
a=dict()
a=1
dict()

{}

Pandas
reading CSV and Excel file

data file and python file should be in one folder. for colab file upload to colab drive

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('data.csv')
df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [ ]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [ ]:
df['Fare']

0       7.2500
1      71.2833
2       7.9250
3      53.1000
4       8.0500
        ...
886    13.0000
887    30.0000
888    23.4500
889    30.0000
890     7.7500
Name: Fare, Length: 891, dtype: float64

passing list/multiple columns

In [ ]:
df[['Fare','Pclass']]

        Fare  Pclass
0     7.2500       3
1    71.2833       1
2     7.9250       3
3    53.1000       1
4     8.0500       3
..       ...     ...
886  13.0000       2
887  30.0000       1
888  23.4500       3
889  30.0000       1
890   7.7500       3

[891 rows x 2 columns]

Indexing

In [ ]:
df.iloc[:5]

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [ ]:
df.iloc[:,:2]

     PassengerId  Survived
0              1         0
1              2         1
2              3         1
3              4         1
4              5         0
..           ...       ...
886          887         0
887          888         1
888          889         0
889          890         1
890          891         0

[891 rows x 2 columns]

In [ ]:
df.columns[3]

'Name'

In [ ]:
df.iloc[:,:3]

     PassengerId  Survived  Pclass
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

[891 rows x 3 columns]

In [ ]:
df.iloc[:,-2]

0       NaN
1       C85
2       NaN
3      C123
4       NaN
       ...
886     NaN
887     B42
888     NaN
889    C148
890     NaN
Name: Cabin, Length: 891, dtype: object

In [ ]:
df.iloc[[df.tail(10)]]

ValueError: ignored

In [ ]:
print(bool(-5))

True

In [ ]:
df.to_csv('data.csv')

# New Section