<a href="https://colab.research.google.com/github/adityavighne/Python-Basics/blob/main/MyFirst.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Print function

In [1]:
print("Hello Python")

Hello Python

Comment
Single line
Multiline

In [5]:
#this is single line comment 
print("Hello Python")

Hello Python

In [7]:
"""
This is multi lne comment
"""
print("Hello Python")

Hello Python

Variable and get type of variable

In [9]:
X=2
Y="Aditya"
print(X)
print(Y)
print(type(X))
print(type(Y))

2
Aditya
<class 'int'>
<class 'str'>

Many Value to Multiple Variables

In [10]:
x, y, z = "Aditya", 2, 5
print(x)
print(y)
print(z)

Aditya
2
5

In [11]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

Global variables

In [12]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

Data Types

Text Type: 	str
Numeric Types: 	int, float, complex
Sequence Types: 	list, tuple, range
Mapping Type: 	dict
Set Types: 	set, frozenset
Boolean Type: 	bool
Binary Types: 	bytes, bytearray, memoryview
None Type: 	NoneType

In [14]:
A = "Hello World" 	
print(type(A))
A = 20 	
print(type(A))
A = 20.5
print(type(A))	
A = 1j 	
print(type(A))	
A = ["apple", "banana", "cherry"] 	
print(type(A))
A = ("apple", "banana", "cherry") 		
print(type(A))
A = range(6) 	
print(type(A))
A = {"name" : "John", "age" : 36} 		
print(type(A))
A = {"apple", "banana", "cherry"} 	
print(type(A))
A = frozenset({"apple", "banana", "cherry"}) 	
print(type(A))
A = True
print(type(A))
A = b"Hello" 	
print(type(A))
A = bytearray(5) 	
print(type(A))
A = memoryview(bytes(5)) 	
print(type(A))
A = None
print(type(A))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'range'>
<class 'dict'>
<class 'set'>
<class 'frozenset'>
<class 'bool'>
<class 'bytes'>
<class 'bytearray'>
<class 'memoryview'>
<class 'NoneType'>

Modify Strings

In [20]:
A_String = "Aditya"
print(A_String.upper())
print(A_String.lower())
B_String = " Vighne   "
print(B_String.strip()) #remove space
C_String="hi, my name is"
print(C_String.split(",")) # split string by delimiter
D_String = "Hello"
print(D_String.replace("H","M")) #replace character

ADITYA
aditya
Vighne
['hi', ' my name is']
Mello

Format Strings

In [21]:
my_string = "Hi I'm ok {}"
age = 56
print(my_string.format(age))

Hi I'm ok 56